.contenedor{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo{
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;

}
.ListContainer{
  width: 498px;
  display:flex;
  justify-content:center ;
  align-items: center;
  background-color: #ccc;
  flex-direction: column;
}
#tarea{
width: 100%;
height: 35px;
padding-left: 12px;
}
.Footer{
  width: 515px;
  display:flex;
  justify-content:center ;
  align-items: center;
  background-color: white;
padding-top: 5px;
border: 1px solid #ccc;
padding-bottom: 5px;
}
body{
  background-color: rgb(223, 221, 221);
}